body {
  background-image: url('./assets/background.jpg');
}

#title{
    position:fixed;
    height: 10vh;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#video-container {
    position: relative;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 40vw;
    aspect-ratio: 80/65;
    object-fit: cover;
    border-radius: 20px;
}

#flash {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 40vw;
    aspect-ratio: 80/65;
    border-radius: 20px;

    background: white;
    opacity: 1;
    transition: opacity 0.3s ease;
}

#snap {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:transparent;
    border:none;
}

#snap:hover{
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
}

#snap-button-img{
    width: 10vw
}

#counter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 200px;
    font-weight: bold;
    color: white;
    z-index: 100;
    font-family: "Times New Roman", Times, serif;
}

#photostrip {
    background: white;
    width: 10vw;
    flex-shrink: 0;
    flex-grow: 0;
}

#photo-editing-container {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    gap: 10px;

    position: relative;
}

#frame-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 70%;
    top: 50%;
    transform: translateY(-50%);
    gap: 10px;
}

.frame-button-img{
    height: 5vh;
}

.frame-button{
    background-color: transparent;
    border: none;
}

.frame-button:hover{
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
}

#final-buttons {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 10px;

    left: 90%;
    top: 95%;
    transform: translate(-50%, -50%);
}

.final-button{
    background-color: transparent;
    border: none;
}

.final-button:hover{
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
}

.final-button-img{
    width: 5vw;
}

#sticker-container {
    position: absolute;
    display: flex;
    flex-direction: column;

    width: 7%;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
    gap: 10px;
}

.live-stickers {
    position: absolute;
    z-index: 9999;
    width: 5vw;
}
